### Section 1

##### Question 1
Print a Right-Angled Triangle Pattern and it's inverted version

In [1]:
# Answer 1
n = 5
# Right-angled triangle
for i in range(1, n + 1):
    print("*" * i)
print('\n')

# Inverted right-angled triangle
for i in range(n, 0, -1):
    print('*' * i)

*
**
***
****
*****


*****
****
***
**
*

##### Question 2
Print a Pyramid Pattern

In [2]:
# Answer 2

n = 5
var_int = 1
for i in range(1, n + 1):
    star = '*' * var_int
    space = ' ' * (n - i)
    print(f"{space}{star}{space}")
    var_int += 2

    *
   ***
  *****
 *******
*********

##### Question 3
Write a function that:

Takes a number

Returns whether it is prime

Then:

Print all prime numbers between 1 and 100

In [3]:
# Answer 3

def is_prime(num):
    is_prime = "is a prime"
    if num == 2:
        is_prime = "is neither a prime nor a composite"
    else:
        for i in range(2, num):
            if num % i == 0:
                is_prime = "is not a prime"
    return is_prime

try:
    user_input = int(input("Please enter a number: "))
    print(f"You have entered {user_input}")
    print(f"{user_input} {is_prime(user_input)} number")
except ValueError:
    print("Invalid entry! A number was expected")

You have entered 101
101 is a prime number

##### Question 4
Print first n Fibonacci numbers.

Then:

- Store them in a list

- Print their sum

In [4]:
# Answer 4

def fibonacci_numbers(n):
    num1 = 0
    num2 = 1
    fib_list = []
    for i in range(n):
        if i < 2:
            fib_list.append(i)
        else:
            temp = fib_list[i - 2] + fib_list[i - 1]
            fib_list.append(temp)
    return fib_list

try:
    user_input = int(input("Please enter a number (n): "))
    print("You have entered {user_input}")
    var_list = fibonacci_numbers(user_input)
    print(f"The fibonacci series (up to n digits) is: {var_list}\nThe sum of this series is {sum(var_list)}")
except ValueError:
    print("Invalid entry! A number was expected")

You have entered {user_input}
The fibonacci series (up to n digits) is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
The sum of this series is 88

### Section 2

##### Question 5
Manual Sorting (No sort()): Sort a list in ascending order using Nested loops

In [ ]:
# Answer 5

var_list = [1,3,4,2,5,6,1,9]
var_list_sorted = var_list.copy()
i = 0
while(i < len(var_list_sorted) - 1):
    if var_list_sorted[i] > var_list_sorted[i+1]:
        var_list_sorted[i], var_list_sorted[i+1] = var_list_sorted[i+1], var_list_sorted[i]
        print(i, var_list_sorted)
        i = 0
    else:
        i += 1

var_list_sorted

2 [1, 3, 2, 4, 5, 6, 1, 9]
1 [1, 2, 3, 4, 5, 6, 1, 9]
5 [1, 2, 3, 4, 5, 1, 6, 9]
4 [1, 2, 3, 4, 1, 5, 6, 9]
3 [1, 2, 3, 1, 4, 5, 6, 9]
2 [1, 2, 1, 3, 4, 5, 6, 9]
1 [1, 1, 2, 3, 4, 5, 6, 9]

[1, 1, 2, 3, 4, 5, 6, 9]

##### Question 6
Find Frequency of Each Element
nums = [1,2,3,2,4,1,3,1,2]
Output:
- 1 appears 3 times
- 2 appears 3 times
- 3 appears 2 times
- 4 appears 1 time

In [ ]:
# Answer 6

nums = [1,2,3,2,4,1,3,1,2]
unique_values = []

for i in nums:
    if i not in unique_values:
        unique_values.append(i)

for i in unique_values:
    count = 0
    for j in nums:
        if j == i:
            count += 1
    print(f"{i} appears {count} times")

1 appears 3 times
2 appears 3 times
3 appears 2 times
4 appears 1 times

##### Question 7
Rotate a list
- [1,2,3,4,5]: Rotate by 1 is [5,1,2,3,4]
- Rotate by k steps

In [ ]:
# Answer 7

var_list = [1,2,3,4,5]
k = 3
for i in range(k):
    temp = var_list.pop()
    var_list.insert(0, temp)
var_list

[3, 4, 5, 1, 2]

### Section 3

##### Question 9
Check if a string is palindrome. Ignore case and spaces

In [ ]:
# Answer 9

var_str = "Race car"

var_str_treated = var_str.replace(' ', '').lower()
var_str_palindrome = ''
for i in range(len(var_str_treated) - 1, -1, -1):
    var_str_palindrome += var_str_treated[i]

if var_str_treated == var_str_palindrome:
    print(f"{var_str} is a palindrome")
else:
    print(f"{var_str} is not a palindrome")

Race car is a palindrome

##### Question 10
Count number of words in a string

In [ ]:
# Answer 10

var_str = 'I have a pen holder'
print(f"Number of words in the string '{var_str}' = {var_str.strip().count(' ') + 1}")

Number of words in the string 'I have a pen holder' = 5

##### Question 11
Character frequency

In [ ]:
# Answer 11

var_str = 'analytics'

var_str_unique = ''
for i in var_str:
    if i not in var_str_unique:
        var_str_unique += i

for i in var_str_unique:
    count = 0
    for j in var_str:
        if i == j:
            count += 1
    print(f"{i} appears {count} times in {var_str}")

a appears 2 times in analytics
n appears 1 times in analytics
l appears 1 times in analytics
y appears 1 times in analytics
t appears 1 times in analytics
i appears 1 times in analytics
c appears 1 times in analytics
s appears 1 times in analytics

##### Question 12
Armstrong Number

Check if a number is an Armstrong number.

Example:
153 → True
(1³ + 5³ + 3³ = 153)